body{
    background-color: white;
}

a.navbar-brand{
    cursor: default;
    text-decoration: none;
    /*font-size: 2vmax;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}